/* 全局样式 */

.my-button {
  width: 90px;
  height: 32px;
  background-color: #444444 !important;
  border-color: #1DA57A !important;
  color: white;
}

.tools-button {
  width: 90px;
  height: 35px;
  background-color: #616060;
  border-color: #fafcfb !important;
  color: white;
}

.ant-collapse-header{
  border-color: #555555 !important;
}

.ant-collapse-header-text {
  color: white;
}

.ant-collapse-content-box {
  padding: 0 !important;
  border-color: #555555 !important;
}

:where(.css-dev-only-do-not-override-19iuou).ant-collapse{
  border-color: #999999 !important;
}

:where(.css-dev-only-do-not-override-19iuou).ant-collapse .ant-collapse-content{
  border-color: #999999 !important;
}

:where(.css-dev-only-do-not-override-19iuou).ant-collapse>.ant-collapse-item{
  border-color: #999999 !important;
}
.ant-collapse-header {
  background: #999999 !important;
  border: #999999 !important;
  border-radius: 0 !important;
}

.c_mars-select {
  height: 32px;
  background: rgba(35, 39, 47, 0.7) !important;
  border-radius: 1px;
  box-shadow: none;

  :deep(.ant-select-selector) {
    height: 100% !important;
    border-color: var(--mars-control-border);
    border-radius: 2px;
    background: none;
    color: var(--mars-text-color);

    &:hover,
    &:focus {
      border-color: var(--mars-hover-color);
    }

    .ant-select-selection-item {
      color: var(--mars-control-text) !important;
      line-height: 32px !important;
    }
  }

  :deep(.ant-select-arrow) {
    color: var(--mars-control-placeholder);
  }
}

/* 使用 /deep/ 深度选择器（需要vue-loader 15+ 和相应的CSS作用域配置） */
.my-custom-select::v-deep .ant-select-arrow {
  color: #ffffff;
}

.my-custom-select::v-deep .ant-select-selector {
  /* 自定义选择器样式 */
  /* 示例：修改边框颜色 */
  border-color: #191a19;
  background: #2a2a2a none;
  color: #ffffff;
}

.my-custom-select::v-deep .ant-select-selector-selected {
  /* 自定义选择器样式 */
  /* 示例：修改边框颜色 */
  border-color: #191a19;
  background-color: #2a2a2a;
  color: #ffffff;
}

/* 自定义下拉框项样式 */
.my-custom-select::v-deep .ant-select-dropdown {
  background-color: #0a0606;
  color: #333; /* 示例：修改文字颜色 */
}

/* 自定义下拉框项样式 */
.my-custom-select::v-deep .ant-select-dropdown-menu-item {
  background-color: #2a2a2a;
  color: #333; /* 示例：修改文字颜色 */
}

/* 自定义选中项的样式 */
.my-custom-select::v-deep .ant-select-dropdown-menu-item-selected {
  background-color: #060606; /* 示例：修改背景颜色 */
  color: #fff; /* 示例：修改文字颜色 */
}

