.mars3d-temperature-img {
  width: 110px;
  height: 60px;
  transform: translateX(-40px);
  position: relative;
}

.mars3d-draw-content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-40px);
  width: 110px;
  height: 60px;
  color: white;
  font-family: "楷体";
}

.draw-style-content {
  width: 110px;
  height: 60px;
}


