/* 全局样式 */

.my-button {
  width: 90px;
  height: 32px;
  background-color: #444444 !important;
  border-color: #1DA57A !important;
  color: white;
}

.tools-button {
  width: 90px;
  height: 35px;
  background-color: #616060;
  border-color: #fafcfb !important;
  color: white;
}

.ant-collapse-header{
  border-color: #555555 !important;
}

.ant-collapse-header-text {
  color: white;
}

.ant-collapse-content-box {
  padding: 0 !important;
  border-color: #555555 !important;
}

:where(.css-dev-only-do-not-override-19iuou).ant-collapse{
  border-color: #999999 !important;
}

:where(.css-dev-only-do-not-override-19iuou).ant-collapse .ant-collapse-content{
  border-color: #999999 !important;
}

:where(.css-dev-only-do-not-override-19iuou).ant-collapse>.ant-collapse-item{
  border-color: #999999 !important;
}

:where(.css-dev-only-do-not-override-19iuou)  .ant-select-dropdown-empty .ant-select-dropdown-placement-bottomLeft {
  background-color: rgba(35, 39, 47, 0.7) !important;
}

.ant-empty-description {
  color: white !important;
}

:where(.css-dev-only-do-not-override-19iuou).ant-slider .ant-slider-track {
  background-color: rgba(35, 39, 47, 0.7) !important;
}

:where(.css-dev-only-do-not-override-19iuou).ant-slider .ant-slider-handle::after {
  border-color: rgba(35, 39, 47, 0.7) !important;
}

:where(.css-dev-only-do-not-override-19iuou).ant-slider .ant-slider-handle:hover::after,
:where(.css-dev-only-do-not-override-19iuou).ant-slider:hover .ant-slider-handle::after,
:where(.css-dev-only-do-not-override-19iuou).ant-slider .ant-slider-handle:focus::after,
:where(.css-dev-only-do-not-override-19iuou).ant-slider .ant-slider-handle::after{
  box-shadow:0 0 0 4px rgba(35, 39, 47, 0.7) !important;
}


.ant-select-dropdown.css-dev-only-do-not-override-19iuou.ant-select-dropdown-empty.ant-select-dropdown-placement-bottomLeft {
  /* 在这里添加你想要的样式 */
  background-color: rgba(35, 39, 47, 0.7) !important;/* 例如，修改背景颜色为黑色 */
}
.ant-tree-list-holder-inner {
  background-color: #666666 !important;
  border: #666666;
  border-radius: 2px;
}

:where(.css-dev-only-do-not-override-19iuou).ant-tree .ant-tree-treenode .ant-tree-treenode-selected{
  color: black;
}


:where(.css-dev-only-do-not-override-19iuou).ant-select-dropdown, .rc-virtual-list {
  background-color: rgba(35, 39, 47, 0.7) !important;
  border-color: rgba(35, 39, 47, 0.7) !important;
  border-radius: 2px;
  color: rgba(35, 39, 47, 0.7) !important;
}

.ant-select-item-option-content {
  color: white;
}
:where(.css-dev-only-do-not-override-19iuou).ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: rgba(64, 150, 255, 0.8) !important;
}



